<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503152023470-s3upgkne9lk9o64j6n0rsbhhtl7jf7eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503152023470-s3upgkne9lk9o64j6n0rsbhhtl7jf7eb</string>
	<key>API_KEY</key>
	<string>AIzaSyDBwofrxE2oTnujo-2HhITlNlUhWnFVvqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>503152023470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.triniEats</string>
	<key>PROJECT_ID</key>
	<string>trini-eats</string>
	<key>STORAGE_BUCKET</key>
	<string>trini-eats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503152023470:ios:618dbe15b40f3963</string>
	<key>DATABASE_URL</key>
	<string>https://trini-eats.firebaseio.com</string>
</dict>
</plist>